//====================================================================================================

.footer {
   background-color: #f8f8f8;
   padding: 180px 0px 100px 0px;
   @media (max-width: 390px) {
      padding: 220px 0px 100px 0px;
   }
   &__content {
   }

   &__body {
      display: flex;
      @media (max-width: $md3+px) {
         flex-wrap: wrap;
      }
   }

   &__column {
      flex: 0 1 50%;
      @media (max-width: $md3+px) {
         flex: 1 1 100%;
      }
   }

   &__info {
   }

   &__links {
   }
}
.info-footer {
   @media (max-width: $md3+px) {
      text-align: center;
      margin: 0px 0 40px 0;
   }
   &__logo {
      display: inline-flex;
      max-width: 112px;
      margin: 0px 0 20px 0;
      @media (max-width: $md3+px) {
         justify-content: center;
         align-items: center;
      }
   }

   &__text {
      max-width: 340px;
      margin: 0px 0px 30px 0px;
      @media (max-width: $md3+px) {
         margin: 0px auto 30px auto;
      }
   }

   &__socials {
      margin: 0px 0px 30px 0px;
   }

   &__social-item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #f53838;
      transition: all 0.8s ease 0s;
      margin: 0px 20px 0px 0px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      &:last-child {
         margin: 0px 0px 0px 0px;
      }
      &::before {
         transition: all 0.8s ease 0s;
         font-size: 33px;
         border-radius: 50%;
         width: 33px;
         height: 33px;
      }
      @media (min-width: $md2+px) {
         &:hover {
            background-color: #fff;
            &::before {
               color: #f53838;
            }
         }
      }
   }

   &__copy {
   }
}
.links-footer {
   display: flex;
   justify-content: space-between;
   margin: 0px -10px;
   @media (max-width: $md3+px) {
      text-align: center;
   }
   @media (max-width: $md4+px) {
      flex-wrap: wrap;
   }
   &__item {
      padding: 0px 10px;
      flex: 0 1 33.333%;
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
         margin: 0px 0px 20px 0px;
         &:last-child {
            margin: 0px 0px 0px 0px;
         }
      }
   }

   &__label {
      margin: 0px 0px 20px 0px;
   }

   &__list {
      li {
         margin: 0px 0px 10px 0px;
         &:last-child {
            margin: 0px 0px 0px 0px;
         }
      }
   }

   &__link {
      color: inherit;
      transition: all 0.3s ease 0s;
      @media (min-width: $md2+px) {
         &:hover {
            color: #0b132a;
         }
      }
   }
}
//====================================================================================================
